*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color: #fff;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    margin: auto;
   
}
header i{
    padding: 1rem 0;
    font-size: 1.4rem;
}
.container{
    width: 100%;
    height: 90vh;
    background-image: url(./images/coffeShop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
 
.heading{
    max-width: 50%;
    background-color:#f6f1e1;
    padding: 1.5rem;
    text-align: center;
}

.heading h2{
font-size: 3.5rem;
}

.heading p{
font-size: 1.5rem;
font-weight: 800;
}

.heading-buttons{
    /* border: 2px solid yellow; */
    min-width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 0;
}

.btn{
max-width: 40%;
padding: 1.2rem;
color: #fff;
font-weight: 700;
border: none;
text-transform: uppercase;

}

.heading-buttons .btn:nth-child(1) {
    background-color: #499FF0;
  }
.heading-buttons .btn:nth-child(1):hover {
    background-color:#5383B1;
  }
.heading-buttons .btn:nth-child(2) {
    background-color:  #F63A12;
  }
.heading-buttons .btn:nth-child(2):hover {
    background-color:  #f97292;
  }




.form-container{
    width: 100%;
    background-color: #499FF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  2rem 0;

}
.form-heading{
    width: 50%;
    color: white;
    font-weight: 700;
    padding: 2rem 0;

}
.form-heading h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.form-heading-one{
    text-align: center;
}
.form-inputs{
    width: 60%;
    background-color: white;
    padding: 2rem;
}
.form-inputs input{
    min-width: 40%;
    padding: 1rem;
    background-color:#F2F2F2;
    border: none;
    border: 1px solid rgb(210, 207, 207);
    margin-right: 5px 5px;
}
.form-inputs button{
    min-width: 15%;
    background-color: #F63A12;
    margin-left: 1%;
    color: white;
    font-weight: 400;
    padding: 1rem;
    border: none;



}




.service-container{
    width: 100%;
    background-color: #F2F2F2;
    padding: 2rem 0;
}
.service-heading {
    margin: 0 auto;
    padding: 1.5rem 0;
     width: 50%;
     /* border: 2px solid blue; */
    
}
.service-heading h4{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    
}
.service-heading p{
    text-align: justify;
    font-weight: 400;
     padding: 1.2rem 0;
    font-size: 1.2rem;
    
    
}
.service-card {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid brown; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.3%;
   
}
.service-card-item{
    flex: calc(23% - 1.3%);
    background-color: white;
}
.card-item {
    display: flex;
    justify-content: flex-end; 
    padding: 1rem;
    
  }
.card-item i{
    padding: 0.7rem 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F63A12;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
    color: white;
  }
.card-item-content h3{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
}
.card-item-content p{
    min-width: 40% ;
    font-weight: 400;
    padding: 1rem 0.5rem;
}
.card-item-content a{
    font-size: 1.2rem;
    font-weight: 900;
    padding: 2rem  0.5rem;
text-decoration: none;
}







.call-service-container{
    width: 100%;
    padding: 2rem 0;

}
.call-service-items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    gap: 2%;
    
}
.call-service-cards {
    width: 32%;
    margin: 0.5rem 0;
    

}
.call-service-cards img{
    width: 100%;
    height: 100%;

}
.cards-content{
     text-align: center;
     padding: 2rem;
}
.content-one {
    color: white;
    background-color: #499FF0;
}
.content-one h3, .content-two h3 {
    font-size: 2rem;
    padding: 1rem;
}

.content-one p, .content-two p {
    padding: 0.5rem;
}

.content-one a, .content-two a {
    color: white;
    font-size: 1.2rem;
}
.content-two{
    background-color: #F2F2F2;

}

.content-two i {
    padding: 1rem 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F63A12;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
    color: white;
}



.employee-skills-container{
    width: 100%;


}
.employee-skills-wraper{
    width: 80%;
    margin: 0 auto;

    /* border: 2px solid red; */
}
.skill-heading{
    width: 50%;
    margin: 0 auto;
    /* border: 2px solid green; */

}
.skill-heading h4{
     text-align: center;
     font-size: 2.5rem;
     font-weight: 900;
     padding: 2rem 0;
}
.skill-card-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
}
.skill-card{
     flex: 1;
    /* border: 2px solid black; */

}
.skill-card  h3{
     font-size: 4rem;
     text-align: center;

}
.skill-card  p{
     font-size: 1.2rem;
     text-align: center;
}
.skill-blue{
    color: white;
    background-color: #499FF0; 
    padding: 2rem ;
}
.skill-brown{
    color: white;
    background-color: #F63A12; 
    padding: 2rem ;

}
.skill-gray{
    color: rgb(91, 86, 86);
    background-color: #F2F2F2; 
    padding: 2rem ;

}
.skill-gray h3{
    color: black;
    

}
.partnership-container{
    width: 100%;
    padding: 3rem;
}
.wraper{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.patnership , .webnar{
    width: 40%;
    /* border: 2px solid  brown; */

}
.patnership h4{
    font-size: 2rem;
}
.patnership img{
    width: 70%;
    padding: 1rem 0;
}
.patnership p{
    text-align: justify;
    width: 90%;
    padding: 1rem 0;
    font-size: 1.2rem;
}
.patnership a{
     color: #499FF0;
}
.patnership button{
      width: 30%;
      padding: 1rem;
      background-color:#499FF0;
      color: white;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
}
.webnar-item{
  display: flex;  
  justify-content: space-between;
  padding: 2rem 0;
  background-color: #F2F2F2;
  margin: 0 0 2rem 0;
}
.webnar-item i{
    padding: 0.2rem 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F63A12;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
    color: white;
}
.webnar-item h4{
    padding: 0.6rem 1rem;
    font-size: 1.3rem;

}


.mission-container{
    width: 100%;
    background-color: #499FF0;
    color: #fff;
     text-align: center;
    padding: 3rem;
}
.para-one{
    font-size: 2rem;
    padding: 0.4rem 0;
}
.para-two{
    font-size: 3rem;
    font-weight: 700;
    padding: 0.5rem 0;
}
.para-three{
    font-size: 1.3rem;
    padding: 1rem 0; 
}
.mission-btn{
    width: 15%;
    background-color:#F63A12;
}



.team-container{
    width: 100%;
    background-color:#F2F2F2;
    color: black;
    padding: 2.5rem;

    
}
.team-wraper{
    width: 80%;
    margin: 0 auto;
 
}
.team-heading{
    margin: 0 auto;

    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
.team-para {
    margin: 0 auto;
    width: 50%;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    
}
.link {
margin: 0 auto;
text-align: center;
margin-bottom: 2rem;

}
.link a{
    color: #499FF0;
}

.team-member-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
     
    /* border: 2px solid  red; */

}
.team-member{
    width: 48%;
    padding: 1.5rem 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
     
}
.team-img{
    width: 35%;

}
.team-img img{
    width: 100%;
    border-radius: 50%;

}
.img-content{
    width: 90%;
    color: grey;

}
.img-content h4{
     font-size: 2rem;
     padding: 0.6rem 0;
     color: black;
}
.img-content-para-one{
    font-size: 1.2rem;
    color: grey;
}
.img-content-para-two{
    padding: 0 1.3rem 1rem 0;
    line-height: 1.5rem;
}
.team-links{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.team-links i{
    padding: 0.5rem;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    background-color: #499FF0;
    cursor: pointer;
}

.pricing-container{
    width: 100%;
    margin-top:2rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.pricing-card{
    width: 30%;
    padding-bottom: 2rem ;
    text-align: center;
    background-color: #fff;
    /* border: 2px solid blue; */

}
.pricing-heading{
    color: white;
    padding: 2rem;
    background-color: #F63A12;
}
.pricing-heading h4{
    font-size: 2rem;
    padding: 1rem 0;
}
.pricing-heading p b{
    font-size: 3rem;
    padding: 1rem;
}
.pricing-list{
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.pricing-list p{
    padding: 0.6rem 0;
    font-size: 1rem;
     
}
.pricing-list i{
    margin: 0 1rem;
    text-align: center;
    font-size: 0.5rem;
     
}
.pricing-button{
    display: flex;
    align-items: center;
     justify-content: center;
}
.pricing-button button{
    width: 70%;
    padding: 1rem;
    display: flex;
    align-items: center;
     justify-content: center;
     gap:1rem;
     border: none;
     border-radius: 5px;
     font-weight: 800;
      
    
     
}
.pricing-button button i{
     font-size: 1.5rem; 
}
.pricing-blue{
    background-color: #499FF0;
}
.blue-btn{
    background-color: #499FF0;
}
.blue-btn {
     color: white;
}
.clients{
    width: 100%;
    text-align: center;
}
.clients h4{
     font-size: 3rem;
     padding: 4rem;
}
.clients-companies{
    width:100% ;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid blue; */
}
.clients-companies img{
     width: 7%;
     object-fit: cover;
}
.newsletter-container{
    width: 100%;
    height: 80vh;
    background-image: url(./images/blurredAbstract.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}
.newsletter-main{
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #fff;
}
.newsletter-heading h4{
    padding: 2rem  2rem 1rem 3rem;
    font-size: 3.4rem;
    text-align: center;
}
.newsletter-heading p{
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    
}
.newsletter-form{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    padding-left: 2rem;
    justify-content: space-evenly;
}
.newsletter-form input{
    width: 60%;
    padding: 1rem;
    border: none;

}
.newsletter-form button{
    width: 20%;
    padding: 1rem;
    background-color: #F63A12;
    border: none;
    color: #fff;
    font-weight: 800;

}
.newsletter-end{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 2rem;
}
.newsletter-end p{
     font-size: 1.2rem;
    padding: 0 1rem ;
}
.newsletter-end a{
    color: #499FF0;
}
footer{
    width: 100%;
    background-color: #333333;
    text-align: center;
    padding: 2rem;
    color: white;
}
footer p{
  
    padding: 2rem;
}
footer a{
   color: #499FF0;
}
footer a:hover{
   color:rgb(32, 31, 31);
}






/* Media query for tablet screens */
@media (max-width: 900px) {
    .container{
        height:auto;
    }
    .heading{
        min-width: 90%;  
        padding: 1rem;
        
    }
    .btn{
        width: 60%;  
        padding: 1rem;
        margin: 1.2rem;
    }

    .form-heading{
        text-align:  justify;
        width: 80%;
        /* border: 1px solid black; */
         
    }
    .form-inputs{
        width: 80%;
        display: flex;  
        padding: 2rem 0.5rem;

    }




    .service-heading h4{
        font-size: 2.4rem;
        
        
    }

    .service-card-item{
         max-width:  50%;
    }

    .call-service-cards {
        min-width: 30%;  
    }

    .patnership , .webnar{
        min-width: 100%;
    
    }
    .patnership button{
        min-width: 30%;
        padding: 0.7rem;
         
  }

  .patnership img{
    width: 100%;
    
}
   
 
.mission-btn{
    min-width: 30%;
  
}

  .team-para {
    width: 100%;
    
}

.skill-heading{
    width: 100%;
   


}
.team-member-container{
    padding: 0;
}



.team-wraper{
    width: 100%;
    
}
.team-member{
    min-width: 100%;
    
}
.pricing-card{
    min-width: 50%;
    

}
.clients-companies {
     margin: 0 auto;
     
}
.clients-companies img{
    min-width:30%;
    object-fit: cover;
    margin: 2rem;
    
     
}
.clients h4{
    font-size: 3rem;
    padding: 2rem 0;
}
.newsletter-container {
    height: 100vh;
}
.newsletter-main{
    width: 100%;
}
.newsletter-heading h4{
    padding:2rem 1rem;
}
.newsletter-heading p{
     width: 100%;
     padding:  0 2rem;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.newsletter-form input{
     width: 70%;
}
.newsletter-form button{
    min-width: 50%;
    

}
.newsletter-end{
    width: 100%;
}


 

     
}


    
   


/* Media query for mobile screens */
@media (max-width: 480px) {
    /* .container{
        height: auto;
    } */
    .heading-buttons{
        text-align: center ;
         margin: 0 auto;
         display:block;
         
        }


        .form-inputs{
            display: flex;
            flex-direction: column;
            
        }
        .form-inputs input{
             flex: 1;
             margin: 3% 0;
        }
        .form-inputs button{
             width: 100%;
             margin: 0;
              
        }
        .service-card-item{
            max-width:  100%;
       }
       .call-service-cards {
        width: 100%;
        
    
    }

    .patnership , .webnar{
        min-width: 100%;
    
    }
    .webnar-item i{
        padding: 0.3rem 0.3rem;
        width: 40px;
        height: 40px;
    }
    .wraper{
        width: 100%;
        
        
    }
    .team-links{
        margin-top: 1.5rem;
        width: 100%;
        
        
    }
    .img-content-para-two{
         padding: 0;
    }

    .pricing-card{
        min-width: 100%;
    margin-bottom: 2rem;
        
    
    }
    .pricing-container{
    
        padding: 0;
        
    }
}
